<div class="container">
  <div class="flex-row">
    <app-links-list
      [title]="footerLinks.title"
      [links]="footerLinks.items">
    </app-links-list>

    <app-address
      [title]= "contactInfo.title"
      [contactInfo]="contactInfo.items">
    </app-address>

    <app-links-list
      [title]="socialMedia.title"
      [links]="socialMedia.items">
    </app-links-list>
    <!--
    <app-social
      [title]="socialMedia.title"
      [socialMedia]="socialMedia.items">
    </app-social>
    -->
  </div>
</div>

<div class="flex-row center">
  <app-logo
    class="app-footer-logo"
    [logo]="footerLogo">
  </app-logo>
</div>



